containers:
  - name: techtrends
    image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
    imagePullPolicy: {{ .Values.image.pullPolicy }}
    ports:
      - containerPort: {{ .Values.containerPort }}
    livenessProbe:
      httpGet:
        path: {{ .Values.livenessProbe.path }}
        port: {{ .Values.containerPort }}